.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffffff, #c9d6ff);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  align-items: center; /* Centra los elementos dentro del formulario */
}

label {
  font-weight: bold;
  color: #555;
  align-self: flex-start; /* Alinea las etiquetas al inicio del formulario */
}

input {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  width: 100%;
}

button {
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.switch-button {
  background-color: #008cba;
  color: white;
}

.switch-button:hover {
  background-color: #007bb5;
}
